@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


html {
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #0e0e13;
    letter-spacing: -0.05em;
    line-height: 0.9;

}

.body-noscroll {
    overflow: hidden;
}

.body-noscroll {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

.show-nav {
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h3 {
    color: #A9FFDF;
}

p {
    margin: 0 0 10px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}



.img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1 {
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Header*/

.header {
    position: absolute;
    width: 100%;
    height: 80px;
    backdrop-filter: blur(6px);
    background-color: rgba(14, 14, 17, 0.6);
    z-index: 1000;
}

.header-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}



.nav {
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    font-weight: 300;
    align-items: center;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: rgb(240 237 241 / var(--tw-text-opacity, 1));
}

.nav-link {
    cursor: pointer;
    color: #F0EDF1;
    margin-left: 15px;
    transition-property: opacity;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: rgb(0 175 254 / var(--tw-text-opacity, 1));
    transition: 0.3s ease;
}

.nav-link-active {
    color: #DF8EFF;
}

.nav-link-active:hover {
    color: #DF8EFF;
}

.nav-link-active::before {
    content: "";
    position: relative !important;
    display: block;
    width: 100%;
    height: 1.5px;
    top: 33px;
    left: 0;
    background-color: #DF8EFF;
    transition: transform 0.3s ease;
}

/* HAMBURGER */
.nav-burger-button {
    width: 44px;
    height: 44px;
    display: none;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
}

.hamburger-line {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.3s ease;
    left: 0;
}

.hamburger-line:nth-child(1) {
    top: 10px;
}

.hamburger-line:nth-child(2) {
    top: 20px;
}

.hamburger-line:nth-child(3) {
    top: 30px;
}

.hamburger-line:nth-child(4) {
    display: none;
}


.nav-burger-button.activee .hamburger-line:nth-child(1) {
    top: 20px;
    transform: rotate(45deg);
}

.nav-burger-button.activee .hamburger-line:nth-child(2) {
    opacity: 0;
}

.nav-burger-button.activee .hamburger-line:nth-child(3) {
    top: 20px;
    transform: rotate(-45deg);
}




/*Section*/
.section {
    width: 100%;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.flex {
    display: flex;
    top: 0;
}


.realese-info {
    position: absolute;
    bottom: 100px;
    left: 50px;
    z-index: 5;
    /* ниже шапки */
    pointer-events: none;
    /* чтобы не мешала кликам */
    color: #F8F5FD;
    font-size: 8vh;
    text-transform: uppercase;
    font-weight: 800;
}

.last-single-tour {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #131318;
}

.single {
    display: flex;
    align-items: center;
    border: #48474D solid 1px;
    border-radius: 0.5rem;
    width: 55%;
    height: 400px;
    padding: 20px;
}

.single>div>h1 {
    color: #F8F5FD;
    margin-top: 7px;
}

.single>div>p {
    color: #ACAAB1;
    margin-top: 7px;
}

.single>div {
    margin-left: 15px;
}

.tour {
    height: 400px;
    border: #48474D solid 1px;
    border-radius: 0.5rem;
    width: 35%;
    height: 400px;
    padding: 20px;
    color: #fff;
    background: #2C2B33;

}

.tour>h3 {
    color: #D575FF;
}

.tour>div>div>p {
    color: #ACAAB1;
    font-size: 0.9rem;
}

.tour>h3 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.75rem;
}

.tour>div>div>h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
}

.city {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.city::after {
    content: "";
    background-image: url(../img/arrow-hover.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 59px;
    height: 14px;
    -webkit-transform: translateX(0) rotate(-90deg);
    transform: translateX(0) rotate(-90deg);
    transition: -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.city:hover::after {
    -webkit-transform: translateX(10px) rotate(-90deg);
    transform: translateX(10px) rotate(-90deg);
    transition: -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.more-dates {
    cursor: pointer;
    font-weight: bold;
    color: #A9FFDF;
    letter-spacing: 0.2em;
    font-size: 0.75rem;
    margin-top: 30px;
}

/*Releases*/
.realeses {
    padding: 50px;
    color: #F8F5FD;
    background-color: #19191F;
}

.realeses>h1 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.name {
    margin-top: 10px;
    font-size: 18px;
}

.artirst {
    margin-top: 3px;
    font-size: 15px;
}

.type_year {
    margin-top: 2px;
    font-size: 13px;
    font-weight: 300;
}

.album {
    margin-left: 15px;
    margin-right: 15px;
}

/*Footer*/

.footer {
    height: 125px;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-name {
    font-size: 40px;
    color: #F8F5FD;
    font-weight: 600;
}

.ll {
    color: #71717A;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.ll:nth-child(1):hover {
    color: #1DA0C3;
    transition: 0.3s ease;
}

.ll:nth-child(2):hover {
    color: #FF5500;
    transition: 0.3s ease;
}

.ll:nth-child(3):hover {
    color: #ff0000;
    transition: 0.3s ease;
}

.ll:nth-child(4):hover {
    color: #0077FF;
    transition: 0.3s ease;
}

.ll:nth-child(5):hover {
    color: #1877f2;
    transition: 0.3s ease;
}



.social-links>a:last-child {
    margin-right: 0 !important;
}

.copyright {
    color: #71717A !important;
    text-transform: uppercase;
    font-weight: 300;
}

/*MEDIA*/

@media (max-width: 1292px) {
    .last-single-tour {
        justify-content: center;
    }

    .single,
    .tour {
        width: 90%;
    }

    .tour {
        margin-top: 50px;
        height: fit-content
    }
}

@media (max-width: 1278px) {
    .section {
        width: 100%;
        background-position: top center;
    }

}

@media (max-width: 1100px) {
    .footer {
        height: fit-content;
        flex-direction: column;
    }

    .footer-name {
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .social-links {
        margin-bottom: 20px;
    }

    .copyright {
        margin-bottom: 10px;
    }
}

@media (max-width: 750px) {
    .single>img {
        height: 400px !important;
        margin: auto;
    }

    .single {
        display: block;
        height: fit-content;
    }

    .single>div {
        margin-top: 30px;
    }
}

@media (max-width:658px) {
    .realese-info {
        font-size: 60px;
        text-align: center;
        left: 0;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        height: calc(100vh - 80px);
        width: 100%;
        transform: translateX(700px);
        overflow: none;
        transition: all .2s;
        left: 0;
        top: 80px;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .nav-show {
        transform: translateX(0px);
    }

    .nav-active {
        transform: translateX(0px);
    }

    .nav-burger-button {
        width: 40px;
        height: 40px;
        display: block;
        color: white;
    }

    .hamburger-line {
        display: block;
    }

    .hamburger-menu {
        display: block;
    }

    .nav-link {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        height: 50px;
        padding-right: 20px;
    }

    .nav-link-active {
        background-color: rgb(0 175 254 / var(--tw-text-opacity, 1));
        color: #F0EDF1;
    }

    .nav-link::before {
        display: none;
    }
}

@media (max-width: 574px) {
    .section {
        background-image: url(../img/1_for_small_scr.jpg);
        background-position: top right;
        background-size: 150%;
    }
}

@media (max-width: 520px) {
    .single>img {
        height: 300px !important;
    }

    .realeses>h1 {
        text-align: center !important;
    }

    .social-links {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .social-links>a {
        margin-bottom: 8px;
        margin-right: 0;
    }

    .realeses>h1 {
        font-size: 40px !important;
    }
}

@media (max-width: 420px) {
    .single>img {
        height: 250px !important;
    }


}
