@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {

    overflow: hidden;
    margin: 0;
    padding: 0;
}

i {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/*header*/

.header-inner {
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 30px;
    margin-right: 120px;
}

.nav {
    flex-wrap: wrap;
    display: flex;
}

.nav-link {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 5em;
}

.nav-link:hover,
.link:hover {
    color: #000;
    transition-duration: .2s;
}

.brand {
    display: block;
}
.double{
    display: flex;
    justify-content: space-between;
}
.bottom{
    top: 90px;
    right: 100px;
    font-size: 35px;
    z-index: 5;
}
/*header*/

/*Main*/
.side-bar {
    z-index: 3;
    position: fixed;
    font-size: 30px;
    width: 80px;
    color: white;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1B1C48;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.side {
    padding-top: 30px;
}

.side:hover {
    color: #E75E8C;
    transition-duration: .2s;
}


.sale {
    font-family: 'Okta Neue';
    color: #fff;
    margin-top: -5px;
    font-size: 120px;
    line-height: 110px;
}

.offer {
    font-family: 'Coco Gothic Alternate';
    font-size: 50px;
    color: #fff;
    line-height: 40px;
    font-weight: 200;
    font-style: normal;
}

.sales {
    margin-left: 120px;
    position: absolute;
    z-index: 2;
}

.img-coffe {
    position: relative;
    bottom:  150px;
    right: -400px;
    z-index: 1;
    transform: scale(0.8699);
}

.lang{
    position: relative;
    display: flex;
    left: 1550px;
    top: 190px;
}

.langues{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    margin-right: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.langues:hover{
    color: #000;
    transition-duration: .2s;
}

.scale{
    margin: 0;
    padding: 0;
    transform: scale(1);
}

.scale:hover{
    transform: scale(1.2);
    transition-duration: .1s;
}

.btn{
    background-color: #fff;
    border-radius: 44px;
    width: fit-content;
    padding: 20px 40px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
    top:100px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: -1000px;
}



/*Main*/

@media (max-width:1317px) {
    .nav-link {
        margin-left: 3em;
    }
    .sale {
        font-size: 90px;
        line-height: 90px;
    }
    .offer {
        font-size: 40px;
        line-height: 30px;
    }
}
@media (max-width:1155px) {
    .header-inner{
        margin-right: 3em;
    }
}
@media (max-width:1083px) {
    .header-inner{
        margin-right: 1em;
    }
    .nav-link {
        margin-left: 1.5em;
    }
    .header-inner{
        flex-direction: column;
    }
    .double{
        display: flex;
        justify-content:;
    }
}
