@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

body {
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.body-noscroll {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

.show-nav {
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1 {
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.active-burger {
    color: #2E9D42;
}

.btn {
    cursor: pointer;
    font-size: 35px;
    max-width: 250px;
    width: 100%;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    border-radius: 42px;
    background-color: #fff;
}

.btn--green {
    color: #2E9D42;
    transition: linear .2s;
}

.btn--green:hover {
    background-color: #2E9D42;
    color: #fff;
}

.span--green {
    color: #2E9D42;
    font-weight: 700;
}

.span---link {
    cursor: pointer;
    transition: linear .2s;
}

.span---link:hover {
    color: #2E9D42;
}

/*Header*/

.header {
    padding: 15px;
    background-color: #000;
    color: #fff;
}

.brand {
    align-items: center;
    display: flex;
}

.brand img {
    width: 80px;
    height: 40px;
}

.header-inner {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.nav-link {
    margin: 0 15px;
    font-size: 25px;
}

/*hamburger*/
.hamburger-line {
    width: 40px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    display: none;
}



.hamburger-line:nth-child(1),
.hamburger-menu:nth-child(3) {
    transform-origin: right;
    transition: width .2s ease-out;
}

.hamburger-line {
    transition: transform .2s ease-out;

}

.hamburger-menu.active .hamburger-line:nth-child(1),
.hamburger-menu.active .hamburger-line:nth-child(3) {
    width: 0;
}

/*.hamburger-menu.active .hamburger-line:nth-child(2),
.hamburger-menu.active .hamburger-line:nth-child(4) {
    position: absolute;
    left: 0;
    top: 50%;
    width: 40px;
    transform-origin: center;
}*/

.hamburger-menu.active .hamburger-line:nth-child(2) {
    transform: rotate(45deg);
    position: absolute;
    right: 12px;
    top: 32px;
    width: 40px;
    transition: transform .2s ease-out;

}

.hamburger-menu.active .hamburger-line:nth-child(4) {
    transform: rotate(-45deg);
    position: absolute;
    right: 12px;
    top: 32px;
    width: 40px;
    transition: transform .2s ease-out;

}


/*slider*/

.flex {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
}

.text-slider {
    font-size: 40px;
    color: #fff;
    font-family: 'Segoe UI';
    text-align: center;

}

.slick-slide img {
    padding: 10px;
}

.album {
    font-size: 40px;
    color: #fff;
    display: flex;
    align-items: center;
}

.album-info {
    margin-left: 20px;
    text-align: center;
}

.group {
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
}

.left,
.right {
    font-size: 50px;
    position: absolute;
    z-index: 2;
    color: #fff;
}

.right {
    right: 0;
    bottom: 50%;
}

.left {
    left: 0;
    bottom: 50%;
}

.slider-btn {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 50px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
}

.slider-img {
    width: 400px;
    height: 400px;
}

/*Search*/
.search {
    text-align: center;
    padding-top: 40px;
}

.search h2 {
    font-size: 40px;
    font-weight: normal;
}

.input:focus {
    outline: none;
    border: solid 2.5px #2E9D42;
}

.input--search {
    background: url("/img/search.svg") right 7px top 0px no-repeat;
}

form {
    position: relative;
    max-width: 591px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.d1 input {
    max-width: 591px;
    width: 100%;
    height: 37px;
    border-radius: 19px;
    padding-left: 10px;
    font-size: 20px;
    border: solid 1.5px #2E9D42;
}

.d1 button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 70px;
    height: 37px;
    border: none;
    background: #2E9D42;
    border-radius: 0 19px 19px 0;
    cursor: pointer;
}

.d1 button:before {
    content: "\f002";
    color: #fff;
    font-size: 20px;
    font-family: FontAwesome;
}

/*Play lists*/

.playlists-carousel {
    padding-top: 50px;
}

.album-item {
    margin: auto !important;
    padding: auto !important;

    width: 200px;
}

.albun-item-img {
    text-align: center !important;
    margin: auto !important;
    padding: auto !important;
    background-color: #494d55 !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 200px !important;
    height: 200px !important;
}

.desription {
    margin: auto !important;
    width: 200px;
}

.desription h3 {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
}

.desription p {
    font-size: 15px;
    font-weight: 300;
}

.music-type {
    text-transform: uppercase;
    padding: 40px 0;
    font-size: 40px;
}

.heading {
    font-weight: 500;
    text-align: center;
    font-size: 40px;
}

.left--green {
    color: #2E9D42;
}

.right--green {
    color: #2E9D42;
}

/*slider*/

/* Конкретный слайдер */
.slider {
    position: relative;
    padding: 0px 60px;
}


.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}

.slider .slick-arrow.slick-prev {
    cursor: pointer;
    left: 0;
    border: none;
    background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    cursor: pointer;
    right: 0;
    border: none;
    background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
}

.slider__item {
    padding: 0px 15px;
}

.slider__item img {
    max-width: 100%;
}

/*Our diveces*/

.mobile {
    margin: 50px 0;
}

.text-container-blur {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(7px);
}

.text-container {
    max-width: 737px;
    width: 100%;
    margin-left: auto;
    color: #fff;
}

.text-container h2 {
    font-size: 50px;
    font-weight: 600;
}

.devices {
    background: url(../img/app.jpg);
    background-color: #494d55;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -70px left;
    height: 462px;
}

.apps-icons {
    margin-top: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: end;
}

.apps-icons img {
    padding: 0 10px;
}

/*Footer*/
.footer {
    background-color: #000;
    color: #fff;
}

.footer-inner {
    text-align: center;
    margin: auto;
    padding: auto;
}

.footer h1 {
    font-size: 40px;
}

.brand-footer {
    align-items: center;
    display: flex;
    justify-content: center;
}

.img-footer {
    width: 102px !important;
    height: 51px !important;
}

.contact {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

/*Media*/

@media (max-width:1330px) {
    .slider-img {
        width: 300px;
        height: 300px;
    }

    .text-slider,
    .btn {
        font-size: 30px;
    }

    .album-info div {
        font-size: 30px;
    }

    .group {
        font-size: 25px !important;
    }
}

@media (max-width:1241px) {
    .container--apps {
        padding: 0;
    }
}


@media (max-width:1024px) {

    .flex,
    .album {
        flex-direction: column;
    }

    .text-slider {
        padding-bottom: 105px;
    }

    .item,
    .item2,
    .flex {
        height: 800px;
        height: 100%;
    }
}

@media (max-width:767px) {
    .slider {
        padding: 0px 40px;
    }

    .search h2 {
        font-size: 30px;
    }

    .heading {
        font-size: 35px;
    }

    .music-type {
        font-size: 35px;
    }

    .d1 input {
        font-size: 15px;
    }

    .text-container-blur {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-container h2 {
        padding-left: 20px;
        font-size: 30px;
    }

    .apps-icons {
        justify-content: center;
        margin: 30px 0;
        padding-left: 20px;
        flex-wrap: wrap;
    }

    .devices {
        background-position: center;

    }

    .apps-icons img {
        padding-top: 10px;
        text-align: center;
    }

    .apps-icons img:last-child {
        margin: 0;
        padding-left: 15px;
    }
}

@media (max-width:666px) {
    .hamburger-line {
        display: flex;
    }
    .header {
        padding: 15px 0;
    }

    .container--header {
        padding-left: 10px;
    }

    .nav {
        position: absolute;
        top: 70px;
        overflow: auto;
        left: 0;
        width: 100%;
        height: calc(100vh - -57px);
        z-index: 100;
        background: rgba(0, 0, 0, 0.8);
        display: none;
        flex-direction: column;
        padding-right: auto;
    }

    .show {
        display: flex;
    }

    .nav-link {
        font-size: 20px;
        padding: 10px 15px;
        display: block;
        text-align: end;
        margin: 0;
    }

    .active-burger {
        color: #fff;
        background-color: #2E9D42;
    }
}

@media (max-width:400px) {
    .music-type {
        text-align: center;
    }

    .brand h1 {
        position: absolute;
        left: 85px;
        font-size: 25px;
    }
}

@media (max-width:340px) {
    .contact {
        font-size: 15px;
    }
    .footer h1 {
        font-size: 30px;
    }

    .img-footer {
        width: 72px !important;
        height: 36px !important;
    }

    .d1 input {
        font-size: 10px;
    }

    .album-item {
        width: 150px;
    }
    
    .desription {
        width: 150px;
    }
}

@media (max-width:292px) {
    .slider-img {
        width: 250px;
        height: 250px;
    }

    .hamburger-line {
      width: 30px;
      height: 2px;
      margin: 3px 0;
    }
}

@media (max-width:278px) {
    .music-type {
        text-align: center;
    }

    .brand h1 {
        position: absolute;
        left: 85px;
        font-size: 20px;
    }
}