@font-face {
    font-family: 'Coco Gothic Small Caps Fat';
    src: url('CocoGothicSmallCaps-Fat.eot');
    src: local('Coco Gothic Small Caps Fat'), local('CocoGothicSmallCaps-Fat'),
        url('CocoGothicSmallCaps-Fat.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-Fat.woff2') format('woff2'),
        url('CocoGothicSmallCaps-Fat.woff') format('woff'),
        url('CocoGothicSmallCaps-Fat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-UltraLight.eot');
    src: local('Coco Gothic Small Caps UltraLight'), local('CocoGothicSmallCaps-UltraLight'),
        url('CocoGothicSmallCaps-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-UltraLight.woff2') format('woff2'),
        url('CocoGothicSmallCaps-UltraLight.woff') format('woff'),
        url('CocoGothicSmallCaps-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('CocoGothic-Regular.eot');
    src: local('Coco Gothic Regular'), local('CocoGothic-Regular'),
        url('CocoGothic-Regular.eot?#iefix') format('embedded-opentype'),
        url('CocoGothic-Regular.woff2') format('woff2'),
        url('CocoGothic-Regular.woff') format('woff'),
        url('CocoGothic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-LightItalic.eot');
    src: local('Coco Gothic Small Caps Light Italic'), local('CocoGothicSmallCaps-LightItalic'),
        url('CocoGothicSmallCaps-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-LightItalic.woff2') format('woff2'),
        url('CocoGothicSmallCaps-LightItalic.woff') format('woff'),
        url('CocoGothicSmallCaps-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-BoldItalic.eot');
    src: local('Coco Gothic Small Caps Bold Italic'), local('CocoGothicSmallCaps-BoldItalic'),
        url('CocoGothicSmallCaps-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-BoldItalic.woff2') format('woff2'),
        url('CocoGothicSmallCaps-BoldItalic.woff') format('woff'),
        url('CocoGothicSmallCaps-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-UltraLightItalic.eot');
    src: local('Coco Gothic Small Caps UltraLight Italic'), local('CocoGothicSmallCaps-UltraLightItalic'),
        url('CocoGothicSmallCaps-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-UltraLightItalic.woff2') format('woff2'),
        url('CocoGothicSmallCaps-UltraLightItalic.woff') format('woff'),
        url('CocoGothicSmallCaps-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-Regular.eot');
    src: local('Coco Gothic Small Caps Regular'), local('CocoGothicSmallCaps-Regular'),
        url('CocoGothicSmallCaps-Regular.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-Regular.woff2') format('woff2'),
        url('CocoGothicSmallCaps-Regular.woff') format('woff'),
        url('CocoGothicSmallCaps-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('CocoGothic-Bold.eot');
    src: local('Coco Gothic Bold'), local('CocoGothic-Bold'),
        url('CocoGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('CocoGothic-Bold.woff2') format('woff2'),
        url('CocoGothic-Bold.woff') format('woff'),
        url('CocoGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic Alternate';
    src: url('CocoGothicAlternate-HeavyIta.eot');
    src: local('Coco Gothic Alternate Heavy Ita'), local('CocoGothicAlternate-HeavyIta'),
        url('CocoGothicAlternate-HeavyIta.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicAlternate-HeavyIta.woff2') format('woff2'),
        url('CocoGothicAlternate-HeavyIta.woff') format('woff'),
        url('CocoGothicAlternate-HeavyIta.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-Light.eot');
    src: local('Coco Gothic Small Caps Light'), local('CocoGothicSmallCaps-Light'),
        url('CocoGothicSmallCaps-Light.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-Light.woff2') format('woff2'),
        url('CocoGothicSmallCaps-Light.woff') format('woff'),
        url('CocoGothicSmallCaps-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic Alternate';
    src: url('CocoGothicAlternate-FatItalic.eot');
    src: local('Coco Gothic Alternate Fat Italic'), local('CocoGothicAlternate-FatItalic'),
        url('CocoGothicAlternate-FatItalic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicAlternate-FatItalic.woff2') format('woff2'),
        url('CocoGothicAlternate-FatItalic.woff') format('woff'),
        url('CocoGothicAlternate-FatItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('CocoGothic-Fat.eot');
    src: local('Coco Gothic Fat'), local('CocoGothic-Fat'),
        url('CocoGothic-Fat.eot?#iefix') format('embedded-opentype'),
        url('CocoGothic-Fat.woff2') format('woff2'),
        url('CocoGothic-Fat.woff') format('woff'),
        url('CocoGothic-Fat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('CocoGothic-BoldItalic.eot');
    src: local('Coco Gothic Bold Italic'), local('CocoGothic-BoldItalic'),
        url('CocoGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothic-BoldItalic.woff2') format('woff2'),
        url('CocoGothic-BoldItalic.woff') format('woff'),
        url('CocoGothic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('CocoGothic-Italic.eot');
    src: local('Coco Gothic Italic'), local('CocoGothic-Italic'),
        url('CocoGothic-Italic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothic-Italic.woff2') format('woff2'),
        url('CocoGothic-Italic.woff') format('woff'),
        url('CocoGothic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic Alternate';
    src: url('CocoGothicAlternate-UltraLight.eot');
    src: local('Coco Gothic Alternate UltraLight'), local('CocoGothicAlternate-UltraLight'),
        url('CocoGothicAlternate-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicAlternate-UltraLight.woff2') format('woff2'),
        url('CocoGothicAlternate-UltraLight.woff') format('woff'),
        url('CocoGothicAlternate-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('CocoGothic-HeavyItalic.eot');
    src: local('Coco Gothic Heavy Italic'), local('CocoGothic-HeavyItalic'),
        url('CocoGothic-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothic-HeavyItalic.woff2') format('woff2'),
        url('CocoGothic-HeavyItalic.woff') format('woff'),
        url('CocoGothic-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic Alternate';
    src: url('CocoGothicAlternate-Fat.eot');
    src: local('Coco Gothic Alternate Fat'), local('CocoGothicAlternate-Fat'),
        url('CocoGothicAlternate-Fat.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicAlternate-Fat.woff2') format('woff2'),
        url('CocoGothicAlternate-Fat.woff') format('woff'),
        url('CocoGothicAlternate-Fat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-Heavy.eot');
    src: local('Coco Gothic Small Caps Heavy'), local('CocoGothicSmallCaps-Heavy'),
        url('CocoGothicSmallCaps-Heavy.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-Heavy.woff2') format('woff2'),
        url('CocoGothicSmallCaps-Heavy.woff') format('woff'),
        url('CocoGothicSmallCaps-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-HeavyItalic.eot');
    src: local('Coco Gothic Small Caps Heavy Italic'), local('CocoGothicSmallCaps-HeavyItalic'),
        url('CocoGothicSmallCaps-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-HeavyItalic.woff2') format('woff2'),
        url('CocoGothicSmallCaps-HeavyItalic.woff') format('woff'),
        url('CocoGothicSmallCaps-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('CocoGothic-UltraLightItalic.eot');
    src: local('Coco Gothic UltraLight Italic'), local('CocoGothic-UltraLightItalic'),
        url('CocoGothic-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothic-UltraLightItalic.woff2') format('woff2'),
        url('CocoGothic-UltraLightItalic.woff') format('woff'),
        url('CocoGothic-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic Alternate';
    src: url('CocoGothicAlternate-Light.eot');
    src: local('Coco Gothic Alternate Light'), local('CocoGothicAlternate-Light'),
        url('CocoGothicAlternate-Light.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicAlternate-Light.woff2') format('woff2'),
        url('CocoGothicAlternate-Light.woff') format('woff'),
        url('CocoGothicAlternate-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('CocoGothic-LightItalic.eot');
    src: local('Coco Gothic Light Italic'), local('CocoGothic-LightItalic'),
        url('CocoGothic-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothic-LightItalic.woff2') format('woff2'),
        url('CocoGothic-LightItalic.woff') format('woff'),
        url('CocoGothic-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('CocoGothic-Light.eot');
    src: local('Coco Gothic Light'), local('CocoGothic-Light'),
        url('CocoGothic-Light.eot?#iefix') format('embedded-opentype'),
        url('CocoGothic-Light.woff2') format('woff2'),
        url('CocoGothic-Light.woff') format('woff'),
        url('CocoGothic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-BoldIta.eot');
    src: local('Coco Gothic Small Caps Bold Ita'), local('CocoGothicSmallCaps-BoldIta'),
        url('CocoGothicSmallCaps-BoldIta.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-BoldIta.woff2') format('woff2'),
        url('CocoGothicSmallCaps-BoldIta.woff') format('woff'),
        url('CocoGothicSmallCaps-BoldIta.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('CocoGothic-Heavy.eot');
    src: local('Coco Gothic Heavy'), local('CocoGothic-Heavy'),
        url('CocoGothic-Heavy.eot?#iefix') format('embedded-opentype'),
        url('CocoGothic-Heavy.woff2') format('woff2'),
        url('CocoGothic-Heavy.woff') format('woff'),
        url('CocoGothic-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-LightIta.eot');
    src: local('Coco Gothic Small Caps Lt It'), local('CocoGothicSmallCaps-LightIta'),
        url('CocoGothicSmallCaps-LightIta.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-LightIta.woff2') format('woff2'),
        url('CocoGothicSmallCaps-LightIta.woff') format('woff'),
        url('CocoGothicSmallCaps-LightIta.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-FatItalic.eot');
    src: local('Coco Gothic Small Caps Fat Italic'), local('CocoGothicSmallCaps-FatItalic'),
        url('CocoGothicSmallCaps-FatItalic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-FatItalic.woff2') format('woff2'),
        url('CocoGothicSmallCaps-FatItalic.woff') format('woff'),
        url('CocoGothicSmallCaps-FatItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-Black.eot');
    src: local('Coco Gothic Small Caps Black'), local('CocoGothicSmallCaps-Black'),
        url('CocoGothicSmallCaps-Black.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-Black.woff2') format('woff2'),
        url('CocoGothicSmallCaps-Black.woff') format('woff'),
        url('CocoGothicSmallCaps-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic Alternate';
    src: url('CocoGothicAlternate-UltraLightI.eot');
    src: local('Coco Gothic Alternate UltraLight Italic'), local('CocoGothicAlternate-UltraLightI'),
        url('CocoGothicAlternate-UltraLightI.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicAlternate-UltraLightI.woff2') format('woff2'),
        url('CocoGothicAlternate-UltraLightI.woff') format('woff'),
        url('CocoGothicAlternate-UltraLightI.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('CocoGothic-UltraLight.eot');
    src: local('Coco Gothic UltraLight'), local('CocoGothic-UltraLight'),
        url('CocoGothic-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('CocoGothic-UltraLight.woff2') format('woff2'),
        url('CocoGothic-UltraLight.woff') format('woff'),
        url('CocoGothic-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-Italic.eot');
    src: local('Coco Gothic Small Caps Italic'), local('CocoGothicSmallCaps-Italic'),
        url('CocoGothicSmallCaps-Italic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-Italic.woff2') format('woff2'),
        url('CocoGothicSmallCaps-Italic.woff') format('woff'),
        url('CocoGothicSmallCaps-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic Alternate';
    src: url('CocoGothicAlternate-Heavy.eot');
    src: local('Coco Gothic Alternate Heavy'), local('CocoGothicAlternate-Heavy'),
        url('CocoGothicAlternate-Heavy.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicAlternate-Heavy.woff2') format('woff2'),
        url('CocoGothicAlternate-Heavy.woff') format('woff'),
        url('CocoGothicAlternate-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('CocoGothic-FatItalic.eot');
    src: local('Coco Gothic Fat Italic'), local('CocoGothic-FatItalic'),
        url('CocoGothic-FatItalic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothic-FatItalic.woff2') format('woff2'),
        url('CocoGothic-FatItalic.woff') format('woff'),
        url('CocoGothic-FatItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic Alternate';
    src: url('CocoGothicAlternate-BoldItalic.eot');
    src: local('Coco Gothic Alternate Bold Italic'), local('CocoGothicAlternate-BoldItalic'),
        url('CocoGothicAlternate-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicAlternate-BoldItalic.woff2') format('woff2'),
        url('CocoGothicAlternate-BoldItalic.woff') format('woff'),
        url('CocoGothicAlternate-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic Alternate';
    src: url('CocoGothicAlternate-LightItalic.eot');
    src: local('Coco Gothic Alternate Light Italic'), local('CocoGothicAlternate-LightItalic'),
        url('CocoGothicAlternate-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicAlternate-LightItalic.woff2') format('woff2'),
        url('CocoGothicAlternate-LightItalic.woff') format('woff'),
        url('CocoGothicAlternate-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-Bold.eot');
    src: local('Coco Gothic Small Caps Bold'), local('CocoGothicSmallCaps-Bold'),
        url('CocoGothicSmallCaps-Bold.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-Bold.woff2') format('woff2'),
        url('CocoGothicSmallCaps-Bold.woff') format('woff'),
        url('CocoGothicSmallCaps-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic Alternate';
    src: url('CocoGothicAlternate.eot');
    src: local('Coco Gothic Alternate'), local('CocoGothicAlternate'),
        url('CocoGothicAlternate.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicAlternate.woff2') format('woff2'),
        url('CocoGothicAlternate.woff') format('woff'),
        url('CocoGothicAlternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic Alternate';
    src: url('CocoGothicAlternate-Bold.eot');
    src: local('Coco Gothic Alternate Bold'), local('CocoGothicAlternate-Bold'),
        url('CocoGothicAlternate-Bold.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicAlternate-Bold.woff2') format('woff2'),
        url('CocoGothicAlternate-Bold.woff') format('woff'),
        url('CocoGothicAlternate-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic Alternate';
    src: url('CocoGothicAlt-Italic.eot');
    src: local('Coco Gothic Alt Italic'), local('CocoGothicAlt-Italic'),
        url('CocoGothicAlt-Italic.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicAlt-Italic.woff2') format('woff2'),
        url('CocoGothicAlt-Italic.woff') format('woff'),
        url('CocoGothicAlt-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-ExtLt.eot');
    src: local('Coco Gothic Small Caps ExtLt'), local('CocoGothicSmallCaps-ExtLt'),
        url('CocoGothicSmallCaps-ExtLt.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-ExtLt.woff2') format('woff2'),
        url('CocoGothicSmallCaps-ExtLt.woff') format('woff'),
        url('CocoGothicSmallCaps-ExtLt.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Coco Gothic Small Caps';
    src: url('CocoGothicSmallCaps-ExtLtIta.eot');
    src: local('Coco Gothic Small Caps ExLt It'), local('CocoGothicSmallCaps-ExtLtIta'),
        url('CocoGothicSmallCaps-ExtLtIta.eot?#iefix') format('embedded-opentype'),
        url('CocoGothicSmallCaps-ExtLtIta.woff2') format('woff2'),
        url('CocoGothicSmallCaps-ExtLtIta.woff') format('woff'),
        url('CocoGothicSmallCaps-ExtLtIta.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

